.todo {
  display: block;
  padding: 25px 50px 75px;
  margin: auto;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
}

.todo button {
  display: block;
  padding: 25px 25px 25px;
  margin: auto;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 45px;
  color: white;
  background-color: black;
  border: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.intro button:hover {
  content: "poggers my dude";
  background-color: white;
  color: black;
  cursor: pointer;
}
